<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=InformationSecurity;Persist Security Info=True;User ID=数据库用户名;Password=数据库密码" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
	</system.web>
	<system.webServer>
		<directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <remove value="default.aspx" />
                <remove value="iisstart.htm" />
                <remove value="index.html" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
                <add value="account/login.aspx" />
            </files>
        </defaultDocument>
	</system.webServer>
</configuration>
